<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Island List | Only the Best Islands</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Magra:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='dist/main.css')}}" />
    <style>
      html, body {
        font-family: 'Magra', sans-serif;
      }
    </style>
  </head>
  <body>
    <div class="p-8 max-w-7xl mx-auto h-full">
      {% include 'header.j2' %} 
      {% block body %} {% endblock %}
    </div>
  </body>
</html>
