<div class="mt-4 p-8 bg-contain bg-no-repeat bg-right flex shadow-lg h-60 overflow-hidden rounded-xl bg-gradient-to-l from-cyan-500 to-blue-500">
  <div class="flex-1 text-zinc-700 flex items-center">
    <div class="flex-1">
      <img class="w-full max-w-md" src="{{url_for('static', filename='logo.svg')}}"></img>
    </div>
  </div>
  <div class="w-64">
    <img class="w-full" src="{{url_for('static', filename='island_banner.svg')}}"></img>
  </div>
</div>