<nav id="header" class="shadow bg-white w-full">
  <div
    class="max-w-7xl mx-auto flex flex-wrap items-center justify-between py-4 px-8"
  >
    <div class="w-40">
      <img src="{{ url_for('static', filename='logo.jpg')}}"></img>
    </div>
  </div>
</nav>
