<div class="bg-indigo-50 rounded-2xl shadow-lg overflow-hidden flex flex-col mb-8">
  <div
    class="bg-cover bg-top h-48"
    style="background-image: url({{ url_for('static', filename='islands/' + island.id|string + '.svg')}});"
  ></div>
  <div class="p-4 bg-white flex-1 flex flex-col">
    <h3 class="text-xl font-bold mb-4">{{ island.name }}</h3>
    <p class="grow mb-4">{{ island.description }}</p>
    <div>
      <a href="{{url_for('routes.get_island', slug=island.slug)}}">
        <button
          class="inline-flex items-center px-4 py-2 bg-cyan-700 border border-transparent rounded-md font-semibold text-lg text-white uppercase"
        >
          View Details
        </button>
      </a>
    </div>
  </div>
</div>
