{% extends 'base.j2' %} 

{% block body %}
<div class="mt-16 grid grid-cols-2 gap-8">
  <div>
    <button class="shadow-md inline-flex items-center px-6 py-4 bg-white border border-gray-100 rounded-md font-semibold text-2xl text-cyan-500 uppercase">
      List an Island
    </button>
  </div>
</div>
<div class="mt-16 grid grid-cols-3 gap-8">
  {% if islands|length > 0 %}
    {% for island in islands %}
      {% include 'card.j2' %} 
    {% endfor %} 
  {% endif %}
</div>
{% endblock %}
